{% extends 'base.html' %}

{% block title %}Профиль пользователя {{ user_obj.username }}{% endblock %}
{% block page_header %}Личная страница пользователя {{ user_obj.username }}{% endblock %}

{% block menu %}
    {% if user == user_obj %}
        <li class="menu_right"><a href="{% url 'accounts:user-change-password' %}">Сменить пароль</a></li>
        <li class="menu_right"><a href="{% url 'accounts:user-update-profile' %}">Редактировать профиль</a></li>
    {% endif %}
{% endblock %}


{% block content %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
{% endblock %}
